body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="submit"] {
    width: calc(100% - 12px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}
h2{
    text-align: center;
}
